@charset "utf-8";
/* CSS Document */
/* 全局样式 */
*{margin:0; padding:0}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0px;padding:0px}
h1,h2,h3,h4,h5{font-size:100%;}
ul,ol,li{list-style:none;}
button,img{border:none;}
button,input,select{vertical-align:middle;}
body{font:12px/16px Arial,Verdana,Helvetica,sans-serif; color:#000; line-height:18px; background:#efebe2;}
table{border:0; margin:0; border-collapse:collapse;}
table th,table td{padding:0; height:30px;}

a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both; font-size:0; height:0; overflow:hidden;}

.content{line-height:16px;font-size:12px; color:#000;}
/*.content p{margin-bottom:6px;}*/
#pro_txt .inner p,.content p{margin-bottom:10px;}
.more{text-align:right; background:url(../images/line.png) repeat-x 0px 9px;}
.more a{width:80px; height:18px; line-height:18px; display:inline-block; font-size:11px; color:#813c3f; background:#FFF;}
.more a span{display:none;}
/************网页头部样式开始***********/
#wrapper{}

/************头部样式开始**************/
.header_wrap,.main_wrap{width:1000px; background:#FFF; margin:0 auto; overflow:hidden;}
#header{width:1000px; height:115px; overflow:hidden; margin:0 auto; position:relative;}
#highlighted {width:960px; margin:0 auto;}
.logo{padding-top:35px;}

.header_contact{position:absolute; right:40px; top:50px;}
.header_contact a,.header_contact span{height:18px; line-height:18px; display:inline-block; padding-left:40px; margin-left:25px; font-size:16px; color:#4B4D4E; text-decoration:none; background:url(../images/sprite.png) no-repeat;}
.header_contact a:hover{color:#000; text-decoration:underline;}
.header_contact a.email{background-position:-360px -80px;}
.header_contact span.tel{background-position:-360px -20px;}

/************头部样式结束**************/

/************语言样式开始**************/
.languages{position:absolute; top:15px; right:0; z-index:2;}
.languages a{margin-left:20px; color:#7f7f7f; display:inline-block; height:18px; line-height:18px; font-size:12px; padding-left:30px; text-decoration:underline; background:url(../images/sprite.png) no-repeat;}
.languages a:hover{color:#000;}
.languages a.en{background-position:-360px 0px;}
.languages a.es{background-position:-280px 0px;}
/************语言样式结束**************/


/************搜索栏样式开始**************/
#search_form{position:absolute;top:75px;right:0px;width:302px; height:28px; background:url(../images/sprite.png) no-repeat 0px -50px; z-index:4;}
#search_form input{width:245px; padding:0px 10px; margin-right:5px; border:0px none; background:none; font-size:11px; color:#858f97; height:28px; line-height:28px;}
#search_form button{width:30px;height:25px;cursor:pointer; text-indent:-9999px; background:none;}
/************搜索栏样式结束**************/

/************菜单样式开始**************/
.mainnav_wrap{background:#862e36 url(../images/menu_bg.jpg) no-repeat center top; height:42px; width:100%;}
#mainnav{width:960px; height:42px; margin:0 auto; overflow:hidden; position:relative; z-index:3}
#mainnav li{height:42px; line-height:42px; float:left; font-size:14px; font-weight:bold; color:#FFF;}
#mainnav li a{display:inline-block; cursor:pointer; height:42px; color:#FFF; padding:0px 35px;}
#mainnav li a:hover,#mainnav li.active a,#mainnav li.here a{background:url(../images/sprite.png) no-repeat 0px 0px; color:#FFF; text-decoration:none;}
/************菜单样式结束**************/


/************BANNER样式开始**************/
#banner_wrap{width:960px; margin:0 auto; margin-top:10px; overflow:hidden; position:relative;}
.bannertxt{font-size:30px; font-weight:bold; color:#FFF; text-transform:uppercase; line-height:32px; position:absolute; left:25px; top:30px;}
//.bannertxt{left:20px; top:215px;}
#banner{float:left;width:622px;}
.homebannertxt{float:right;width:338px;background:url(../images/bg1.jpg) repeat-x 0 0;height:300px;color:#DBD9D9}
.homebannertxt li{clear:both;height:70px;overflow:hidden;line-height: 14px;padding: 15px 12px 15px 22px;}
.homebannertxt li img{float:right;margin-left:8px;}
.homebannertxt .title{text-transform: uppercase;color: #EDECEC;font-size: 18px;margin-bottom: 8px;margin-top: 10px;}
.homebannertxt .title a{color: #EDECEC;}

.b_box{overflow:hidden;}

.advistment{margin-top:10px;clear:both;}
/************BANNER样式结束**************/

/************网页主体样式开始***********/
#main{width:960px; margin:0 auto; overflow:hidden;}

/************左边栏样式开始**************/
.sidebar{width:240px; float:left; overflow:visible;background: #ecebea;}
//.sidebar{width:240px;}
.subnav{background:#ecebea;}
.subnav .title, .region-sidebar-first h2{height:38px; line-height:38px; font-size:14px; font-weight:bold; text-transform:uppercase; color:#FFF; background:url(../images/sprite.png) no-repeat 0px -100px; padding-left:30px;}
.class_item1, .region-sidebar-first li{font-size:12px; line-height:14px; border-bottom:1px solid #FFF; zoom:1;}
.class_item1 a, .region-sidebar-first li a{color:#000; margin:7px 0px; zoom:1; display:block;cursor:pointer; padding:3px 5px 3px 30px;}
//.class_item1 a span{cursor:pointer; padding:3px 5px 3px 30px; display:block;}
.class_item1 a:hover, .region-sidebar-first li a:hover,.class1_wrap .here a, .region-sidebar-first li.active-trail a{text-decoration:none; color:#FFF; background:#9e4f57;}
.region-sidebar-first li.expanded {list-style: none;}
.region-sidebar-first li.leaf {list-style: none;}

.class2_wrap{border-bottom:1px solid #FFF;}
.class2_wrap .class_item2{font-size:11px;}
.class2_wrap .class_item2 a{color:#000; margin:2px 0px; background:none;}
.class2_wrap .class_item2 a span,.class2_wrap .class_item2 a:hover span{padding-left:40px;}
.class2_wrap .class_item2 a:hover,.class2_wrap .here a{color:#000; text-decoration:underline; background:none;}

/************首页新闻样式开始**************/
.home_faq{height:220px;}
.home_faq .title{height:38px; line-height:38px; font-size:14px; font-weight:bold; text-transform:uppercase; color:#FFF; background:url(../images/sprite.png) no-repeat 0px -100px; padding-left:30px;}
.faq_content{padding:10px;}
.faq_list li span{display:block;}
.faq_list li{font-size:11px; font-weight:normal; line-height:12px; margin-bottom:10px;}
.faq_list li .list_title{font-size:12px; font-weight:bold; line-height:20px; text-decoration:underline; }
.faq_list li a{color:#363737; text-decoration:none;}
.faq_list li a:hover{color:#813c3f; text-decoration:none;}
.faq_list li a:hover .list_title{color:#813c3f;}
.faq_list li .more a{color:#813c3f;}
.faq_list li .more a:hover{color:#813c3f; text-decoration:underline;}
/************首页新闻结束**************/

/************首页产品样式开始**************/
.home_products_list{width:720px;}
.home_products_list li{float:left; width:230px; height:220px; margin-right:10px;}
.home_products_list img{width:230px; height:179px;}
.home_products_list .title{height:38px; line-height:38px; overflow:hidden; margin:1px 0 0 0; font-size:18px; text-transform:uppercase; font-weight:bold; background:url(../images/sprite.png) no-repeat 0px -160px; text-align:center;}
.home_products_list .title a{color:#FFF;}
/************首页产品样式结束**************/

/************whyus样式开始**************/
.whyus{border-top:4px solid #3d444a; margin-top:10px; color:#000; line-height:16px;}
.whyus .title{font-size:18px; font-weight:bold; color:#131414; line-height:30px;}
.whyus .title span{color:#772e37;}
.whyus img{float:left; margin-right:10px;}
.whyus span{font-weight:bold; color:#772e37;}
.whyus p{margin-bottom:5px;}
/************whyus样式结束**************/

/************左边栏样式结束**************/


/************新闻样式开始**************/
.index_info_title{font-size:12px; color:#666;}
.index_info_title a{color:#666; text-decoration:underline;}

/****内页****/
.news_list li{line-height:16px; font-size:12px; border-top:1px dashed #bfbfbf; padding-top:8px; margin-top:10px;}
.news_list li.views-row{text-align:left; float:none; display:block; width:100%;}
.news_list li.views-row-first{padding-top:0px; margin-top:0px; border-top:none;}
.news_list li span{display:block;}
.news_list li a{color:#000; text-decoration:none;}
.news_list li a:hover{color:#a52d3c; text-decoration:none;}
.news_list .time{padding-left:10px;}
.news_list .views-field-title{font-weight:bold; line-height:18px; padding-left:10px; background:url(../images/sprite.png) no-repeat -238px -332px;}
.news_list li a:hover .item_title{background:url(../images/sprite.png) no-repeat -238px -412px;}
.news_list .summary{padding-left:10px;}

.info_title{font-size:16px; font-weight:bold;}
/************新闻样式结束**************/

/************热门产品样式开始**************/
.hot_products{margin-top:10px; background:#ecebea; padding-bottom:20px;}
.hot_products .title{height:38px; line-height:38px; font-size:14px; font-weight:bold; text-transform:uppercase; color:#FFF; background:url(../images/sprite.png) no-repeat 0px -100px; padding-left:30px;}
.hot_pro_list{padding:10px 10px 0px 25px;}
.hot_pro_list li{padding-left:6px; padding-top:10px; margin-bottom:15px; position:relative;}
.hot_pro_list li a img{width:170px; height:130px;}
.hot_title a{color:#000;}
.hot_title a:hover{color:#a72d3c;}
/************热门产品样式开始**************/

/************右边栏样式开始**************/
.container{width:720px; float:right; overflow:hidden;}
.container{width:710px;}
#location, #breadcrumb{text-align:left; color:#494747; height:23px; line-height:23px; border-bottom:1px solid #c8c8c8; width:960px; margin:0 auto;margin-bottom: 10px;}
#location a, #breadcrumb a{color:#000; display:inline-block;}


/************产品样式开始**************/

#pro_txt{clear:both; overflow:hidden;}
#pro_txt .inner{}

#pro_list,#relative_pro{clear:both; overflow:hidden; width:740px;}
#pro_list li{float:left; width:172px; margin-right:10px; margin-bottom:20px;}
#pro_list img{width:170px; height:130px; border:1px solid #dadada;}
.prod_item_title{height:14px; line-height:16px; overflow:hidden; margin:2px 0;}
.prod_item_title a{color:#000;}
.prod_item_title a:hover{color:#a72d3c; text-decoration:none;}
#pro_list .summary{height:28px; overflow:hidden; line-height:14px; font-size:11px;}
/************产品列表样式结束**************/

/************产品列表搜索框样式开始**************/
#pro_search{text-align:center;padding-top:10px;margin:15px 0px;}
#pro_search input{width:150px;padding:2px;border:#ccc 1px solid;}
#pro_search label{margin:0px 6px;}
#pro_search select{width:150px;padding:2px;border:#ccc 1px solid;}
/************产品列表搜索框样式结束**************/

/************产品详细页样式开始**************/
.inq_btn{background:url(../images/sprite.png) no-repeat 0px -420px;color:#FFF;width:80px;height:20px;overflow:hidden;cursor:pointer;display:inline-block;text-align:center;text-decoration:none;vertical-align:middle; font-size:11px;}
.views-exposed-form .views-exposed-widget .form-submit, .subbtn{background:url(../images/sprite.png) no-repeat 0px -340px;color:#FFFFFF;cursor:pointer;height:24px; margin-left:6px;overflow:hidden;width:74px; text-transform:uppercase;border:none;padding-right:18px; padding-bottom:3px; padding-bottom:0px\9; font-size:11px\9;}
.opp{padding-top:5px;}

#big_pic{text-align:center;width:340px;height:340px;border:1px solid #C1C1C1;float:left;overflow:hidden;position:relative;margin-bottom:15px;}
#big_pic img{width:340px;height:340px;}
#big_pic em{position:absolute;bottom:10px;right:10px;width:35px;height:35px;_FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg1.png',sizingMethod='scale');background:url(../images/bg1.png)!important;background:none;cursor:pointer;}

#small_pics{width:81px;height:342px;padding:0px 25px 0px 15px;float:left;overflow:hidden;}
#small_pics img{width:79px;height:79px;border:1px solid #C1C1C1;margin-bottom:6px;}
.pic_list{height:1%;overflow:hidden;}
.pic_list .field {padding:9px 0;}
.pic_list li{padding:5px 0px;font-size:12px;}
.pic_list input{border:0px none;color:#FFFFFF;cursor: pointer;height:29px;margin-top:20px;width:157px;}
a.inq_link{background:url(../images/sprite.png) no-repeat 0px -540px; color: #FFFFFF; cursor:pointer; display: inline-block; font-weight: bold; width: 135px; height: 31px; line-height: 31px; text-align: center; text-decoration: none; font-size:14px;}
a.inq_link:hover{color:#FFF; text-decoration:none;} 
/************产品详细页样式结束**************/

/************相关产品样式开始**************/
#relative_pro{ margin-top:30px;}
#relative_pro .title{border-bottom:#bcbcbc 1px solid;padding-bottom:5px;}
#page-title, #company .title,#news .title,#relative_pro .title,#pro_txt .title,#pro_info .colm_title,#sitemap .title, #block-views-related-products-block-1 h2{font-size:20px; text-transform:uppercase; line-height:30px; border-bottom:4px solid #d5d5d5;  margin-bottom:10px; color:#000;}
/************相关产品样式结束**************/

/************分页样式开始**************/
.pages{text-align:center;clear:both;font-size:12px; padding:20px 11px;}
.pages a{color:#3F3F3F; padding:0px 5px; margin:0px 2px; text-decoration:none;cursor:pointer;}
.pages .current{font-weight:bold;background:#84333d;border:1px solid #84333d;color:#fff;}
.pages .page{border:1px solid #aaa;margin:0px 3px;background:#fff;}
.pageNav a:hover{background:#84333d;color:#f2fcf1;}
.pages img{vertical-align:middle;}
.pages button {background:url(../images/sprite.png) no-repeat 0px -378px; border:medium none;color:#FFFFFF;cursor: pointer;font-weight:normal;height:25px; line-height:22px; overflow:hidden; width:132px; font-size:11px\9; padding-bottom:3px; padding-bottom:0px\9;}

.pages a.pagePre{background:url(../images/sprite.png) no-repeat 0px -499px;color:#FFFFFF;display:inline-block;height:22px;line-height:22px;padding-left:13px;width:38px;}
.pages a.pageNext{background:url(../images/sprite.png) no-repeat 0px -459px;color:#FFFFFF;display:inline-block;height:22px;line-height:21px;padding-left:5px;text-align:left;width:48px; margin-left:3px;}
/************分页样式结束**************/

/************Sitemap样式开始**************/
.sitemap{clear:both; padding-top:20px;}
.sitemap li{width:230px;margin-left:7px; _margin-left:5px;float:left; overflow:hidden;}
.sitemap .class_item1{margin-left:0px; float:none;}
#sitemap .title{margin-bottom:0px;}
#sitemap .subnav .title{height:38px; line-height:38px; border-bottom:none; color:#FFF; font-size:14px;}
/************Sitemap样式结束**************/

/************右边栏样式结束**************/


/************网页底部样式开始**************/ 
#footer{width:960px; margin:0px auto; margin-top:10px; padding-bottom:20px; overflow:hidden; line-height:19px; color:#7d7d7d; text-align:center; background:#f0f0f0;}
//#footer{margin-top:0px;}
.foot_contact{font-size:18px; line-height:20px; font-weight:bold; color:#0b0c0c;}
.foot_contact span{font-weight:bold; color:#772e37;}
.foot_contact h3{font-size:16px; color:#FFF; text-transform:uppercase; font-weight:bold; height:36px; line-height:36px; background:url(../images/title_bg.jpg) no-repeat center top; margin-bottom:5px;}
.foot_contact a{color:#0b0c0c;}

.foot_copyright{width:880px; margin:0 auto; margin-top:5px; padding-top:5px; font-size:11px; color:#000; border-top:1px solid #b6b8b9;}
.foot_copyright span{padding:0px 10px;}
.foot_copyright a{color:#000;}
/************网页底部样式结束**************/


/************留言表样式开始**************/ 
#submitbtn{background:url(../images/sprite.png) no-repeat 0px -340px;color:#FFFFFF;cursor:pointer;height:24px;margin-left:6px;overflow:hidden;width:74px; text-transform:uppercase;border:none;padding-right:18px;padding-bottom:3px; padding-bottom:0px\9; font-size:12px; font-size:12px\9;}
#inquire_wrap{display:inline;padding-right:5px;}
#inquire_wrap button{cursor:pointer;}
.page404{font-size:19px;color:#DA251C;display:block;padding:77px 0px;line-height:28px;}

.contactus{padding-left:50px; border-bottom:1px dashed #e0e0e0; padding-bottom:10px; margin-bottom:10px;}
.contactus span{font-weight:bold; width:60px; display:inline-block; text-align:right; padding-right:10px;}
.contactus p{margin-bottom:4px;}
.contactus a{color:#a52d3c; text-decoration:underline;}
.contactus a:hover{color:#a52d3c; text-decoration:none;}

#feedbackbox{clear:both;padding-top:5px;overflow:hidden}
#feedbackbox li{margin:5px 0px;}
#feedbackbox li label, .webform-container-inline label{height:18px;display:inline-block;width:110px;vertical-align:top;text-align:right; line-height:24px;margin-right:5px;}
.webform-container-inline label.option{text-align:left;}

#feedbackbox li span{display:inline-block;}
#feedbackbox li input,#feedbackbox li textarea{margin-top:3px;width:400px; height:22px; line-height:22px; padding:0px 3px; border:1px solid #c2c2c2; font-size:12px; color:#666;}
#feedbackbox li textarea{height:160px; line-height:16px;}
.width_400{width:420px;}
.td_left{ width:100px;text-align:right}
.span_80{ display:inline-block;width:80px;}
.span_120{display:inline-block;width:120px;}
.span_150{display:inline-block;width:150px;}
.span_170{display:inline-block;width:170px;}

.post{text-align:right;background:none;margin:-25px auto 5px;display:block;clear:both;float:right;z-index:999; position:relative;}
.post a{cursor:pointer;}

#leave,#l_list{padding-top:10px;margin:0px auto;clear:both;}
#leave li{float:left;width:100%;}
#leave span{width:150px;text-align:right;padding:2px 0px;text-align:right;margin:5px 7px 0px 0px;display:block; float:left;}
#leave input,#leave textarea{width:400px;border:solid 1px #46462F;padding:1px 3px;margin-top:3px;}

#submit, .form-actions{/*padding:10px 0px 20px 110px;*/clear:both; text-align:center;}
#submit input{width:58px;height:18px;margin-left:10px;}

#l_list li{padding:10px;}
#l_list h3{font-size:15px;font-weight:normal;background-image:none;padding-left:0px;}
#l_list li p{line-height:180%;padding:5px 0px;}
#l_list .red_bg{background:#EaEaEa;}
/************展示系统样式开始**************/ 

/************询盘样式开始**************/ 
#inquire input{color:#898989;}
#inquire table td{padding:5px 0px;}
#inquire table input{border:1px solid #ccc;float:left;height:15px;padding-top:3px;}
#inquire table textarea{border:1px solid #ccc;}
#inquire table img{float:left;}
#inquire p input{border:0px;float:none;width:12px;height:12px;}
#inquire table table input{text-align:center;}

#i_top{border-bottom:1px solid #235D97;padding-bottom:30px;margin-bottom:20px;}
#i_top div{margin:0px auto;text-align:left;}
#i_top div input{float:left;margin:10px 5px;padding:0px;}
#i_top div p{font-size:12px;line-height:12px;padding:5px 0px 0px;}
#i_top div span{font-size:10px;text-align:left;}

#i_top2{border-bottom:2px solid #235D97;border-top:1px solid #235D97;display:table;margin:10px 0px 50px;padding:30px 0px 15px;}
#i_top2 img{float:left;margin:0px 10px;margin-top:-5px;}
#i_top2 p{font-size:14px;color:#666;font-weight:bold;line-height:140%;}

#inquire table span{font-size:11px;font-weight:bold float:right;width:100px;text-align:right;padding-right:15px;}
#inquire table span a{background:#235D97;display:block;color:#fff;line-height:22px;height:22px;text-align:center; width:120px;}
#company #inquire table span a{color:#FFF;text-decoration:none;}

#check{text-align:left;width:420px;border:3px solid #235D97;padding:10px 0px;display:table;}
#check input{border:0px;margin:5px;float:left;}
#check span{font-size:10px;font-weight:normal;text-align:left;width:335px;margin:0px;padding:0px 0px 0px 10px; line-height:12px;display:block;}

#i_info table td{padding:10px 0px;}
#i_info h3{font-weight:bold;font-size:12px;color:#fff;float:left;margin:0px;padding:0px;border:0px;line-height:12px;}
#i_info h4{line-height:30px;}
#i_info input{border:0px;margin-left:10px;}
#i_info p{padding:0px; margin:0px;line-height:140%;}
#inquire #i_info h3{color:#FFF;}

.i_title{background:#235D97;}
.i_gray{color:#3f3f3f;background:#CFEAFF;}
/************询盘样式结束**************/ 

/************展示系统样式开始**************/ 
.view{padding-bottom:15px;clear:both;overflow:hidden;padding:10px 0px;}
.view li{width:30%;text-align:center;display:inline;float:left;margin:0 1%;padding-bottom:10px;}
.view li img{margin-bottom:7px;}
.photosys_item_title{line-height:16px;}
.photosys_item_title a{color:#333; text-decoration:none;}
.v_pic{text-align:center;padding:20px 0px;clear:both;}
/************展示系统样式结束**************/ 

/************浮动框样式开始**************/ 
#floatBox{z-index:99999;position:fixed;bottom:0px;right:0px;width:210px;background:#98B9DC url(../images/MsgFloat_btm.gif) no-repeat bottom center;padding-bottom:5px;font-size:12px;font-family:Arial, Helvetica,sans-serif;text-align:left;}
#floatBox a{color:#666;}
#floatBox dt{padding:1px 5px 0px;text-align:right;background:url(../images/MsgFloat_top.gif) no-repeat 0px 0px; height:30px;}
#floatBox dt img{cursor:pointer;vertical-align:baseline;}
#floatBox dd{border:#81A9D4 1px solid;padding:5px 8px;margin:0px 5px;background:#fff url(../images/MsgFloat_CntBg.gif) repeat-x top;}
#floatBox dd img{vertical-align:middle;margin-right:5px;}
#floatBox li{list-style:none;margin:5px 0px;}
/************浮动框样式结束**************/ 

/************留言表单样式开始**************/ 
#leaveBox, #block-webform-client-block-20{margin-top:20px;clear:both;border:#E5E5E5 solid 1px;padding:0 5px 15px;position:relative;}
#leaveBox li, #block-webform-client-block-20 .form-item{float:none;border-bottom:#CCCCCC dashed 1px;}
#leaveBox li span{display:inline-block;padding:0px 5px;}
#leaveBox li label{float:left;width:95px;text-align:left;}
#leaveList li span{font-size:12px;}
#leaveBox #subject{width:520px;}
#leaveBox #text_name,#text_email{width:232px;}
#leaveBox #text_content{width:520px;} 

#sendwaiting{text-align:center;padding-top:50px;}  
#mybg{display:none;background:#000;width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:500;opacity:0.3;}
#news .info_time
{
    display:block;
    }
/************留言表单样式结束**************/ 

input.form-submit {
    background: url(../images/sprite.png) no-repeat 0px -540px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    width: 135px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border:none;
}
span.inquire input.form-submit, .hot-products input.form-submit {
    background: url(../images/sprite.png) no-repeat 0px -420px;
    color: #FFF;
    width: 80px;
    height: 20px;
    line-height: 20px;
    border: 0px none;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 11px;
}
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.project-views table {width:100%;}
.project-views table td.grid-3cols {width:33%; text-align:center;}
.project-views table td.grid-3cols img {width:180px; height:120px;}
.left {float:left;}
.inquire-check {margin: 1em 0.5em 1em 0.3em;}
#block-locale-language li{display:inline; margin:3px;}
#block-locale-language {position:absolute; top:10px; right:10px;}
li.zh-hans {position: absolute !important;clip: rect(1px 1px 1px 1px);overflow: hidden;height: 1px;}
.content .field-type-image{text-align:center;}
.uc-catalog table.views-view-grid td, .related-products td {padding-right:10px; padding-bottom:10px;}
.hot-products table {margin: 0 auto;}
#block-views-related-products-block-1 {margin-top:35px;}
.item-list .pager li.pager-first a, .item-list .pager li.pager-previous a{
    background: url(../images/sprite.png) no-repeat 0px -499px;
    color: #FFFFFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 13px;
    width: 38px;
}
.item-list .pager li.pager-next a, .item-list .pager li.pager-last a{
    background: url(../images/sprite.png) no-repeat 0px -459px;
    color: #FFFFFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    width: 48px;
    margin-left: 3px;
    text-align: left;
}
